

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bk-color: #121214;
    --tx-color: #FFFFFF;

    --base-color: 194;
    --bk-button: hsla(var(--base-color), 100%, 63%, 0.13);
    --primary-color: hsl(var(--base-color), 100%, 63%);
    /*  OU: 
    --bk-button: rgba(66, 211, 255, 0.13);
    --primary-color: #42D3FF;
    */


    font-size: 62.5%;
}

body{
    background-color: var(--bk-color);
    color: var(--tx-color);

    font-family: 'Roboto', sans-serif;

    display: grid;
    min-height: 100vh; /*vai esticar*/
}
main {
    align-self: end;
    justify-self: center;
}
footer {
    align-self: end;
    justify-self: end;
    padding: 0 4rem 3.2rem 0;
}



button{

    background-color: transparent;
    border: none;
    cursor: pointer;
}



.play svg path,
.pause svg path,
.sound-on svg path{
    fill: var(--primary-color)
}

button svg{                          /*maximo 64px*/
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}



.hide{
    display: none;
}


#timer {
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);

    display: flex; /*para nn ter o espaço entre os : e o numero*/
    margin-bottom: 1.6rem;
}


#controls{
    background-color: var(--bk-button);

    border-radius: 9999px;
    gap: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(10rem, 10rem + 30vw, 22.8rem);
    height: clamp(8rem, 5rem + 10vw, 10.8rem);

}